.divider-text:before,
.divider-text:after {
    color:white;
    content: "";
    flex: 1;
    border-bottom: 2px solid #555;
    margin: auto 0.25rem;
    box-shadow: 0 -2px;
}
#logo {
    transition: all 2s ease-in-out;
}

#logo:hover {
    content: url('../images/kaws_logo_hover.jpg');
}


.card {
    min-height: 300px;
    transition: transform 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
   #maincard:hover {
        transform: scale(1.1);
    }
}

.card a, .card button {
    pointer-events: all; 
}

.card-img-top {
    height: 150px;
    object-fit: cover;
}

.card-content {
    flex: 1;
}




html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('https://images2.alphacoders.com/132/1323470.png');
    background-repeat: no-repeat;
    background-size: cover; /* Это заставляет изображение покрывать весь экран */
    background-attachment: fixed; /* Это делает фон неподвижным при прокрутке */
}
  display: none;
}

.myDIV:hover + .hide {
  display: block;
  color: red;
}

.hide {
    display: none;
}

.myDIV:hover + .hide {
    display: block;
    color: red;
}